apiVersion: v1
kind: Service
metadata:
  name: traefik-public
  namespace: traefik
  annotations:
    lbipam.cilium.io/ips: "10.3.10.101"
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: traefik
  ports:
    - name: web
      port: 80
      targetPort: 8000
      protocol: TCP
    - name: websecure
      port: 443
      targetPort: 8443
      protocol: TCP
