globalArguments:
  - "--global.checknewversion=false"
  - "--global.sendanonymoususage=false"

deployment:
  replicas: 1

api:
  dashboard: true

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: true

gateway:
  enabled: false

gatewayClass:
  enabled: true

ports:
  web:
    port: 8000
    exposedPort: 80
    protocol: TCP
    expose:
      default: true
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 8443
    exposedPort: 443
    protocol: TCP
    expose:
      default: true
  web-private:
    port: 8001
    exposedPort: 80
    protocol: TCP
    expose:
      default: true
    redirections:
      entryPoint:
        to: websecure-private
        scheme: https
        permanent: true
  websecure-private:
    port: 8444
    exposedPort: 443
    protocol: TCP
    expose:
      default: true
  plex:
    port: 32400
    exposedPort: 32400
    protocol: TCP
    expose:
      default: true

service:
  enabled: false

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["websecure"]
    matchRule: Host(`traefik.local.bigd.no`)

logs:
  general:
    level: INFO
  access:
    enabled: true
