globalArguments:
  - "--global.checknewversion=false"
  - "--global.sendanonymoususage=false"

deployment:
  replicas: 1

api:
  dashboard: true

providers:
  kubernetesGateway:
    enabled: true
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: true

gateway:
  enabled: true
  name: traefik-gateway
  listeners:
    web:
      port: 8000
      hostname: ""
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 8443
      hostname: ""
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - group: ""
          kind: Secret
          name: bigd-no-tls
          namespace: cert-manager
        - group: ""
          kind: Secret
          name: local-bigd-no-tls
          namespace: cert-manager
        - group: ""
          kind: Secret
          name: nordbye-it-tls
          namespace: cert-manager

gatewayClass:
  enabled: true

ports:
  web:
    port: 8000
    exposedPort: 80
    protocol: TCP
    expose:
      default: true
  websecure:
    port: 8443
    exposedPort: 443
    protocol: TCP
    expose:
      default: true

service:
  type: LoadBalancer
  spec:
    loadBalancerIP: 10.3.10.101

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["websecure"]
    matchRule: Host(`traefik.local.bigd.no`)

logs:
  general:
    level: INFO
  access:
    enabled: true
