{{ if .Site.Params.comments.enabled }}
  {{ if .Site.Params.comments.giscus }}
    <script
      src="https://giscus.app/client.js"
      data-repo="{{ .Site.Params.comments.giscus.repo }}"
      data-repo-id="{{ .Site.Params.comments.giscus.repoId }}"
      data-category="{{ .Site.Params.comments.giscus.category }}"
      data-category-id="{{ .Site.Params.comments.giscus.categoryId }}"
      data-mapping="{{ .Site.Params.comments.giscus.mapping | default "pathname" }}"
      data-strict="{{ .Site.Params.comments.giscus.strict | default "0" }}"
      data-reactions-enabled="{{ if .Site.Params.comments.giscus.reactionsEnabled }}1{{ else }}0{{ end }}"
      data-emit-metadata="{{ if .Site.Params.comments.giscus.emitMetadata }}1{{ else }}0{{ end }}"
      data-input-position="{{ .Site.Params.comments.giscus.inputPosition | default "top" }}"
      data-theme="{{ .Site.Params.comments.giscus.theme | default "preferred_color_scheme" }}"
      data-lang="{{ .Site.Params.comments.giscus.lang | default "en" }}"
      crossorigin="anonymous"
      async>
    </script>
  {{ end }}
{{ end }}
