[Unit]
Description=Arr-Stack Docker Compose
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/docker/arr-stack
ExecStart=/usr/bin/docker compose -f docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.yaml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target