apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - namespace.yaml
  - httproutes.yaml
  - grafana-admin-credentials-secret.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 80.13.2
    releaseName: kube-prometheus-stack
    namespace: monitoring
    valuesFile: values.yaml
