apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseerr-config
  namespace: plex-media-stack
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: syno-nfs
  resources:
    requests:
      storage: 1Gi
