apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbittorrent-config
  namespace: gluetun-vpn
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: syno-nfs
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config
  namespace: gluetun-vpn
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: syno-nfs
  resources:
    requests:
      storage: 1Gi
