apiVersion: v1
kind: Service
metadata:
  name: gluetun
  namespace: gluetun-vpn
spec:
  selector:
    app: gluetun
  ports:
    - name: http-control
      port: 8000
      targetPort: 8000
      protocol: TCP
