apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: traefik-gateway
      namespace: traefik
      sectionName: bigd-no
  hostnames:
    - audiobookshelf.bigd.no
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: audiobookshelf-service
          port: 80
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /
