---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: proxmox-csi-plugin
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
    - secretKey: config.yaml
      remoteRef:
        key: "2ac0a93e-77b3-467f-ae8e-b3c1009cac19"
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
