apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: grafana
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: grafana-admin-credentials
    creationPolicy: Owner
  data:
    - secretKey: admin-user
      remoteRef:
        key: "44c1a896-5fb7-406e-9ae9-b2a3016caa6a"
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
    - secretKey: admin-password
      remoteRef:
        key: "6c5c6ff6-d9ca-4a14-b47d-b2a3016cc1c5"
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
