# Grafana configuration

# Admin user configuration
adminUser: mnordbye

# Use an existing secret for the admin password
admin:
  existingSecret: grafana-admin-credentials
  passwordKey: admin-password

persistence:
  enabled: true
  storageClassName: syno-nfs
  size: 10Gi
  type: pvc
  accessModes:
    - ReadWriteOnce

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        url: http://vmsingle-victoria-metrics-single-server.victoria-metrics.svc.cluster.local:8428
        access: proxy
        isDefault: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "default"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboards: {}

# Grafana's primary configuration
grafana.ini:
  server:
    domain: grafana.local.bigd.no
