apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"

resources:
  - namespace.yaml
  - deployment.yaml
  - httproute.yaml
  - service.yaml
  - ciliumnetworkpolicy.yaml

