$TTL {{ item.ttl | default('3600') }}
@   IN SOA {{ item.soa.mname }} {{ item.soa.rname }} (
        {{ item.soa.serial      | default(ansible_date_time.epoch) }} ; serial
        {{ item.soa.refresh     | default('604800')     }} ; refresh
        {{ item.soa.retry       | default('86400')      }} ; retry
        {{ item.soa.expire      | default('2419200')    }} ; expire
        {{ item.soa.minimum     | default('86400')      }} ; minimum
)

{% if item.ns is defined %}
{% for ns in item.ns -%}
@   IN NS {{ ns }}
{% endfor %}
{% endif %}

{% for a in item.a_records -%}
{{ (a.name | default('@')) }}  IN A     {{ a.ip }}
{% endfor %}

{% for c in item.cname_records -%}
{{ (c.name | default('@')) }}  IN CNAME {{ c.alias }}
{% endfor %}
