# VictoriaMetrics Single - Database only

server:
  retentionPeriod: 12
  persistentVolume:
    enabled: true
    storageClass: syno-nfs
    size: 50Gi

# Expose service for external access
service:
  type: ClusterIP
  port: 8428
