apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secret-store
  target:
    name: argocd-secret
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        accounts.mnordbye.password: "{{ .mnordbye_password }}"
  dataFrom:
    - extract:
        key: 25212f64-2c35-4bbb-bb58-b3be00922dd0
