apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  target:
    name: argocd-secret
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
  data:
    - secretKey: accounts.mnordbye.password
      remoteRef:
        key: 25212f64-2c35-4bbb-bb58-b3be00922dd0
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
