global:
  domain: argocd.local.bigd.no

crds:
  install: true

configs:
  params:
    server.insecure: true
  cm:
    kustomize.buildOptions: "--enable-helm"
    exec.enabled: "true"

server:
  replicas: 1
  service:
    type: LoadBalancer
    annotations:
      io.cilium/lb-ipam-ips: "10.3.10.100"
  ingress:
    enabled: false

dex:
  enabled: false

notifications:
  enabled: true

applicationSet:
  enabled: true

redis-ha:
  enabled: false

controller:
  replicas: 1

repoServer:
  replicas: 1
